In [3]:
import pandas as pd
import glob
import time

In [24]:

path = "C:\\Users\\Admin\\Desktop\\selenium\\"

csv_files = glob.glob(path + "*.csv")

dfs = []

for file in csv_files:
    df = pd.read_csv(file)
    dfs.append(df)


merged_df = pd.concat(dfs, ignore_index=True)

df=pd.DataFrame(merged_df)

df.drop(columns="Unnamed: 0",inplace=True)

df.to_csv("Red_Bus.csv",index=False)

df = pd.read_csv("Red_Bus.csv")

In [11]:
import mysql.connector

# Establish the database connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Vasu@3003",
    database="bus_info"
)

# Create a cursor object
cursor = conn.cursor()

# Define the SQL statement to create the table
create_table_query = """
CREATE TABLE IF NOT EXISTS Routes (
    id INT AUTO_INCREMENT PRIMARY KEY,
    State TEXT NOT NULL,
    route_name TEXT NOT NULL,
    route_link TEXT NOT NULL,
    busname TEXT NOT NULL,
    bustype TEXT NOT NULL,
    departing_time TIME NOT NULL,
    duration TEXT NOT NULL,
    reaching_time TIME NOT NULL,
    star_rating FLOAT NOT NULL,
    price DECIMAL(10, 2) NOT NULL,
    seats_available INT NOT NULL
)
"""

# Execute the SQL statement to create the table
cursor.execute(create_table_query)

# Define the SQL statement to insert values
insert_query = """
INSERT INTO Routes (State,route_name, route_link, busname, bustype, departing_time, duration, reaching_time, star_rating, price, seats_available)
VALUES (%s,%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

for index, row in (df.iterrows()):
    cursor.execute(insert_query,(row["State_Name"],row["Route_Name"],row["Route_Link"],row["Bus_Name"],
                           row["Bus_Type"],row["Departing_Time"],row["Duration"],row["Reaching_Time"],
                           row["Star_Rating"],row["Price"],row["Seats_Available"]))
    conn.commit()

conn.commit()