In [1]:
import pandas as pd
import glob

In [24]:

path = "C:\\Users\\Admin\\Desktop\\selenium\\"

csv_files = glob.glob(path + "*.csv")

dfs = []

for file in csv_files:
    df = pd.read_csv(file)
    dfs.append(df)


merged_df = pd.concat(dfs, ignore_index=True)

df=pd.DataFrame(merged_df)

df.drop(columns="Unnamed: 0",inplace=True)

df.to_csv("Red_Bus.csv",index=False)

In [25]:
df = pd.read_csv("Red_Bus.csv")

In [11]:
import mysql.connector

# Establish the database connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Vasu@3003",
    database="bus_info"
)

# Create a cursor object
cursor = conn.cursor()

# Define the SQL statement to create the table
create_table_query = """
CREATE TABLE IF NOT EXISTS Routes (
    id INT AUTO_INCREMENT PRIMARY KEY,
    State TEXT NOT NULL,
    route_name TEXT NOT NULL,
    route_link TEXT NOT NULL,
    busname TEXT NOT NULL,
    bustype TEXT NOT NULL,
    departing_time TIME NOT NULL,
    duration TEXT NOT NULL,
    reaching_time TIME NOT NULL,
    star_rating FLOAT NOT NULL,
    price DECIMAL(10, 2) NOT NULL,
    seats_available INT NOT NULL
)
"""

# Execute the SQL statement to create the table
cursor.execute(create_table_query)

# Define the SQL statement to insert values
insert_query = """
INSERT INTO Routes (State,route_name, route_link, busname, bustype, departing_time, duration, reaching_time, star_rating, price, seats_available)
VALUES (%s,%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

for index, row in (df.iterrows()):
    cursor.execute(insert_query,(row["State_Name"],row["Route_Name"],row["Route_Link"],row["Bus_Name"],
                           row["Bus_Type"],row["Departing_Time"],row["Duration"],row["Reaching_Time"],
                           row["Star_Rating"],row["Price"],row["Seats_Available"]))
    conn.commit()

conn.commit()

In [38]:
df

,State_Name,Route_Name,Route_Link,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seats_Available
0,APSRTC,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,TSRTC - 40331,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",13:40,04h 50m,18:30,3.3,396.0,33
1,APSRTC,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,TSRTC - 1600,RAJDHANI (A.C. Semi Sleeper),14:00,05h 40m,19:40,2.9,374.0,32
2,APSRTC,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,TSRTC - 40362,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",14:20,06h 10m,20:30,3.2,396.0,31
3,APSRTC,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,TSRTC - 1432,RAJDHANI (A.C. Semi Sleeper),14:30,04h 45m,19:15,2.2,374.0,34
4,APSRTC,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,TSRTC - 40562,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",14:50,06h 10m,21:00,3.3,396.0,33
...,...,...,...,...,...,...,...,...,...,...,...
10348,West_Bengal,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Ankita Paribahan(Atithi),A/C Seater Push Back (2+3),22:40,05h 50m,04:30,2.2,416.0,20
10349,West_Bengal,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Ankita Paribahan,AC Seater (2+3),13:50,04h 30m,18:20,2.2,370.0,41
10350,West_Bengal,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Ankita Paribahan(Parameswar),A/C Seater (2+3),21:50,04h 10m,02:00,2.2,416.0,15
10351,West_Bengal,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Suvam Travels,Non AC Seater (2+3),16:30,03h 50m,20:20,1.8,200.0,59
10352,West_Bengal,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Anadi Travels (Disha Gold),A/C Seater Push Back (2+3),23:00,05h 30m,04:30,1.0,500.0,60